{% extends "appAtenciones/base.html" %}
{% load static  %}
{% block content  %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'appAtenciones/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">Quiénes Somos</span>
            <span class="section-heading-upper">
                Luna es una veterinaria especializada en atencion veterinaria de mascotas.
                Para lo cual los veterinarios cuentan con un acceso que les permite registrar atenciones veterinarias, almacenar datos de la mascotas, 
                de sus dueños y del veterinario. 
                Ponemos a disposicion un portal para publicaciòn y adopciòn de mascotas.
                Al navegar por nuestro sitio, encontrarás lista de servicios que ofrecemos y datos de contacto.
            </span>
          </h2>
          <p class="mb-3">Sistema de gestion interna y externa.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Desde 1995 Veterinaria Luna brinda la mejor atención veterinaria para tu mascota. Para ello, seleccionamos los mejores profesionales veterinarios, quienes continúan en capacitación y formación constante, para darle la más cálida y profesional atención a tu mascota..</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}