<html>
    <head>
        <title>

            {% block title %} {% endblock %}

        </title>
    </head>


    <body>
        
        <h1 style="background-color: chocolate; color: beige; text-align: center"> Ciudadano Pet</h1>
        {% include "superior/barra.html" %}

        <h3>Sistema de registro y atención de mascotas</h3>

        {% block content %} {% endblock %}


        <p style="background-color: chocolate; color: beige; text-align: center"> rrss </p>
        



    </body>
</html>